---
title: Course
heading: Anatomy for the FRCA
description: A one-day course for the Primary and Final FRCA, available in <a href="#St Andrews">St Andrews</a> and <a href="#Cardiff">Cardiff</a>.
pricing_table:
  - name: Cardiff
    color: "#91cbb1"
    features:
      - text: 4th June 2021
        highlight: true
      - text: School of Biosciences, Cardiff University
        highlight: false
        location: "https://goo.gl/maps/LeUVjSAtA6KfmrUk6"
      - text: £70 per person
        highlight: false
    call_to_action:
      link: http://mysite.com?plan=basic
      text: Cardiff Sign Up
    sponsor:
      image: IU_logo.png
      website: "http://intelligentultrasound.com"
      height: 80px
      width: 55%
    snipcart:
      data-item-id: Cardiff-04062021
      data-item-name: "Cardiff 4th June 2021"
      data-item-price: 70.00
      data-item-url: /course/
      data-item-description: "Anatomy for the FRCA Course - Cardiff - 4th June 2021"
      data-item-custom1-name: "'Contact Number'"
      data-item-custom1-required: "'true'"
      data-item-custom2-name: "'Hospital Currently Working At'"
      data-item-custom3-name: "'Which part of the FRCA exam are you studying for?'"
      data-item-custom3-options: "'Primary MCQ|Primary OSCE-Viva|Final Written|Final SOE'"
      data-item-custom4-name: "'Any dietary requirements for the course?'"
      data-item-custom4-type: "textarea"
      
  - name: St Andrews
    color: "#91cbb1"
    features:
      - text: 6th August 2021
        highlight: true
      - text: School of Medicine, University of St Andrews
        highlight: false
        location: "https://goo.gl/maps/FG9cV7jtsaTMswHo9"
      - text: £70 (£50 for SSA members)
        highlight: false
    call_to_action:
      link: http://mysite.com?plan=basic
      text: St Andrews Sign Up
    sponsor:
      image: SSA_logo.png
      website: "https://www.ssa.scot"
      height: 80px
      width: 80px
    snipcart:
      data-item-id: StAndrews-06082021
      data-item-name: "St Andrews 6th August 2021"
      data-item-price: 50.00
      data-item-url: /course/
      data-item-description: "Anatomy for the FRCA Course - St Andrews - 6th August 2021"
      data-item-custom1-name: "'Are you an SSA Member?'"
      data-item-custom1-options: "'No[+20.00]|Yes'"
      data-item-custom2-name: "'Contact Number'"
      data-item-custom2-required: "true"
      data-item-custom3-name: "'Hospital Currently Working At'"
      data-item-custom4-name: "'Which part of the FRCA exam are you studying for?'"
      data-item-custom4-options: "'Primary MCQ|Primary OSCE-Viva|Final Written|Final SOE'"
      data-item-custom5-name: "'Any dietary requirements for the course?'"
      data-item-custom5-type: "textarea"

faq:
- question: What types of payment do you accept?
  answer: Credit cards including MasterCard, Visa or American Express.
- question: Can I change my plan at a later time?
  answer: Yes, you can upgrade and downgrade your plan at anytime.
- question: Do you offer pricing for nonprofit organizations?
  answer: Yes, send us a message and we'll set you up on our nonprofit pricing.
- question: Questions?
  answer: Contact us for any further questions at <a href="#">john@business.com</a>.
programme:
- '09:00 Registration'
- '09:30 Intro'
- '09:45 Pre-course questions review'
- 10:45 OSCE
- 11:45 Break
- 12:00 OSCE review
- 13:00 Lunch
- 14:00 SOEs
- 15:30 Break
- 15:45 Sonoanatomy
- 16:45 Close
points:
- For anaesthetists at any stage of exam preparation
- Faculty of experienced anatomists and anaesthetists
- Live sonoanatomy explained on models & cadavers
- <a href="">Anatomy for the FRCA</a> book included
---
<p class="subtext">
<a href="{{ site.baseurl }}/book/">Anatomy for the FRCA book <strong>included</strong></a>


<!-- <p class="subtext"><img src="{{ site.baseurl }}/images/course-photo.png" alt="SSA logo" style="width:100%" class="subtext" /></p> -->
<div class="contact-box">
	
	
	<div class="contact-details" style="text-align: center;">
		<!-- <h3 class="editable">Address</h3>
		<address><a target="_blank" href="https://www.google.com/maps/place/{{ page.map.address | url_encode }}">{{ page.map.address | replace: ", ", ", <br>" }}</a></address> -->

		<!-- <h2 class="editable">Upcoming Dates</h2> -->
			<h2>Details</h2>
			{% for item in page.points %}
			<p style="margin-bottom:25px">{{ item }}</p>
			{% endfor %}

			
	</div>
    <div class="contact-details" style="text-align: center;">
		<!-- <h3 class="editable">Address</h3>
		<address><a target="_blank" href="https://www.google.com/maps/place/{{ page.map.address | url_encode }}">{{ page.map.address | replace: ", ", ", <br>" }}</a></address> -->

		<h2 class="editable">Course Programme</h2>
    {% for item in page.programme %}
    <p style="margin-bottom:3px; text-align:left;">{{ item }}</p>
	
    {% endfor %}
	</div>
</div>
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3 id="{{ plan.name }}">{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }} </li>
			{% endfor %}
			<li style="padding-bottom:0px; margin-bottom: 0px;">Sponsored by</li>
			<li>
				<a href="{{ plan.sponsor.website}}">
        <img style="height:{{ plan.sponsor.height }}; width:{{ plan.sponsor.width }};" src="{{ site.baseurl }}/images/{{ plan.sponsor.image }}" alt="IU logo"></a>
			</li>

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button">
                    <a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}" 
                    class="snipcart-add-item"
                    data-item-id="{{plan.snipcart.data-item-id}}"
                    data-item-price="{{plan.snipcart.data-item-price}}"
                    data-item-url="{{plan.snipcart.data-item-url}}"
                    data-item-description="{{ plan.snipcart.data-item-description }}"
                    data-item-name="{{ plan.snipcart.data-item-description }}"
                    {% if plan.snipcart.data-item-custom1-name %}
                        data-item-custom1-name={{ plan.snipcart.data-item-custom1-name}}
                        {% if plan.snipcart.data-item-custom1-options %}
                        data-item-custom1-options={{ plan.snipcart.data-item-custom1-options}}
                        {% endif %}
                        {% if plan.snipcart.data-item-custom1-type %}
                        data-item-custom1-options={{ plan.snipcart.data-item-custom1-options}}
                        {% endif %}
                        {% if plan.snipcart.data-item-custom1-required %}
                        data-item-custom1-required={{ plan.snipcart.data-item-custom1-required}}
                        {% endif %}
                    {% endif %}
                    {% if plan.snipcart.data-item-custom2-name %}
                        data-item-custom2-name={{ plan.snipcart.data-item-custom2-name}}
                        {% if plan.snipcart.data-item-custom2-options %}
                        data-item-custom2-options={{ plan.snipcart.data-item-custom2-options}}
                        {% endif %}
                        {% if plan.snipcart.data-item-custom2-type %}
                        data-item-custom2-options={{ plan.snipcart.data-item-custom2-options}}
                        {% endif %}
                        {% if plan.snipcart.data-item-custom2-required %}
                        data-item-custom2-required={{ plan.snipcart.data-item-custom2-required}}
                        {% endif %}
                    {% endif %}
                    {% if plan.snipcart.data-item-custom3-name %}
                        data-item-custom3-name={{ plan.snipcart.data-item-custom3-name}}
                        {% if plan.snipcart.data-item-custom3-options %}
                        data-item-custom3-options={{ plan.snipcart.data-item-custom3-options}}
                        {% endif %}
                        {% if plan.snipcart.data-item-custom3-type %}
                        data-item-custom3-options={{ plan.snipcart.data-item-custom3-options}}
                        {% endif %}
                    {% endif %}
                    {% if plan.snipcart.data-item-custom4-name %}
                        data-item-custom4-name={{ plan.snipcart.data-item-custom4-name}}
                        {% if plan.snipcart.data-item-custom4-options %}
                        data-item-custom4-options={{ plan.snipcart.data-item-custom4-options}}
                        {% endif %}
                        {% if plan.snipcart.data-item-custom4-type %}
                        data-item-custom4-options={{ plan.snipcart.data-item-custom4-options}}
                        {% endif %}
                    {% endif %}
                    {% if plan.snipcart.data-item-custom5-name %}
                        data-item-custom5-name={{ plan.snipcart.data-item-custom5-name}}
                        {% if plan.snipcart.data-item-custom5-options %}
                        data-item-custom5-options={{ plan.snipcart.data-item-custom5-options}}
                        {% endif %}
                        {% if plan.snipcart.data-item-custom5-type %}
                        data-item-custom5-options={{ plan.snipcart.data-item-custom5-options}}
                        {% endif %}
                    {% endif %}
                    >
                        {{ plan.call_to_action.text }} &rarr;
                    </a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>
<!-- <div class="contact-box"><script type="text/javascript">var submitted=false;</script>
	<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" 
	onload="if(submitted) {window.location='{{ site.baseurl }}/contact-success/';}"></iframe>
		
		<form name="Course Sign Up" action="https://docs.google.com/forms/d/e/1FAIpQLSeX5x8k7-fGP1WAQArxmtlF0o3_nYi7QK3Edkvrs7tpBEVFtw/formResponse" method="post" class="contact-form" target="hidden_iframe" onsubmit="submitted=true;">
		
			<h2>Sign Up</h2>
			<label for="name">Full Name</label>
			<input type="text" name="entry.1208315084" id="name" placeholder="Enter your name..." />
	
			<label for="email">Email Address</label>
			<input type="email" name="entry.866136270" id="email" placeholder="Enter your email..." required />
	
			<label for="number">Contact Number</label>
			<input type="text" name="entry.214942639" id="number" placeholder="Enter your contact number..." required />
			
			<label for="number">Hospital Currently At</label>
			<input type="text" name="entry.1717899996" id="number" placeholder="Enter your contact number..." required />
			
			<div class="form-group">
				<label class="col-md-4 control-label" for="course">Which course do you want to attend?</label>
				<div class="col-md-4">
				  <select id="course" name="entry.201760907" class="form-control select-css">
					<option value="Cardiff - 4th June 2021">Cardiff - 4th June 2021</option>
					<option value="St Andrews - 25th March 2022">St Andrews - 25th March 2022</option>
				  </select>
				</div>
			  </div>
			
			  <div class="form-group">
				<label class="col-md-4 control-label" for="exam">Which exam are you studying for?</label>
				<div class="col-md-4">
				  <select id="exam" name="entry.235299239" class="form-control select-css">
					<option value="Primary FRCA MCQ">Primary FRCA MCQ</option>
					<option value="Primary FRCA OSCE/Viva">Primary FRCA OSCE/Viva</option>
					<option value="Final FRCA Written">Final FRCA Written</option>
					<option value="Final FRCA SOE">Final FRCA SOE</option>
				  </select>
				</div>
			  </div>
			<input type="submit" value="Sign Up" />
		</form></div> -->

<!-- <div class="container">
	<p class="subtext">Sponsored by</p>
	<p class="subtext"><img src="{{ site.baseurl }}/images/logo-SSA.png" alt="SSA logo" style="width:200px" class="subtext" /></p>

</div> -->
<!-- <p class="subtext"><img src="{{ site.baseurl }}/images/course-photo.png" alt="SSA logo" style="width:100%" class="subtext" /></p> -->
<!-- 
{% if page.faq %}
	<h2>Questions</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %} -->
