$brand-color: rgb(145, 203, 177);
$secondary-brand-color: rgb(15, 27, 41);
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 100%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
