---
layout: default
---

<div class="content">
	<section class="page">
		<div class="container {% if page.full_width %}max-container{% endif %}">
			{% if page.heading %}
				<h2>{{ page.heading }}</h2>
			{% elsif page.title and page.layout != 'archive' %}
				<h2>{{ page.title }}</h2>
			{% endif %}
			{% if page.description %}
				<p class="subtext">{{ page.description }}</p>
			{% endif %}
			
				<div class="image">
					<p class="subtext">Buy now from <a href="http://amazon.co.uk/dp/1108701884/">Amazon</a> or <a href="https://www.cambridge.org/gb/academic/subjects/medicine/anesthesia-intensive-care-pain-management/anatomy-frca?format=PB">Cambridge University Press</a></p>
					<!-- <p class="subtext">or get a copy by attending our <a href="{{ site.baseurl }}/course/">Revision Course</a></p> -->
				</div>


			<div class="container flex">
				<div class="image">
					<img src="{{ site.baseurl }}/images/book-cover-3d-zoom.png" alt="Screenshot" style="width:80%"class="editable" />
				</div>
				<div class="text">
					<p>This important new book provides a comprehensive, exam orientated clinical
						anatomy book for anaesthetists preparing for all parts of the FRCA exam. This is
						the first anatomy book specifically orientated for the FRCA exam, making it an essential
						resource for anaesthetists preparing for all parts of the FRCA examination.</p>
					<p>
						It covers all body regions, relating underlying anatomy to practical procedures and anatomical principles, spanning the breadth of the curriculum and comprising exam-style questions:</p>

<ul>
	<li>
	SAQ questions
	</li>
	<li>OSCE stations
	</li>
	<li>SOE questions
	</li>
	<li>
		MCQs
	</li>
</ul>

<p>The text is highly illustrated in full colour with ultrasound images, diagrams and photographs of cadaveric material and models.</p>



				</div>
				
			</div>
			<div class="container flex">
				<div class="text">
					{{ content }}
				</div>
			</div>
			
		</div>
	</section>
</div>
