---
layout: default
---

<div class="content">
	<section class="page">
		<div class="container {% if page.full_width %}max-container{% endif %}">
			{% if page.heading %}
				<h2>{{ page.heading }}</h2>
			{% elsif page.title and page.layout != 'archive' %}
				<h2>{{ page.title }}</h2>
			{% endif %}
			{% if page.description %}
				<p class="subtext">{{ page.description }}</p>
			{% endif %}
			
				<div class="text">
					<p class="subtext">Buy now from <a href="http://amazon.co.uk/dp/1108701884/">Amazon</a> or <a href="https://www.cambridge.org/gb/academic/subjects/medicine/anesthesia-intensive-care-pain-management/anatomy-frca?format=PB">Cambridge University Press</a></p>
					<p class="subtext">or get a copy by attending our <a href="{{ site.baseurl }}/course/">Revision Courses</a></p>
				</div>


			<div class="container flex">
				<div class="image">
					<img src="{{ site.baseurl }}/images/book-cover-3d.png" alt="Screenshot" class="editable" />
				</div>
				<div class="text">
					<p>
						{{ page.sidebar }}
					</p>

				</div>
				
			</div>
			<div class="container flex">
				<div class="text">
					{{ content }}
				</div>
			</div>
			
		</div>
	</section>
</div>
